
/* FONT FACES
***************************************************************/

@font-face {
    font-family: 'HelveticaMedium';
    src: url('fonts/helvetica/HelveticaNeueMedium.eot?') format('eot'),
		url('fonts/helvetica/HelveticaNeueMedium.woff') format('woff'),
		url('fonts/helvetica/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica/HelveticaNeueBold.eot?') format('eot'),
		url('fonts/helvetica/HelveticaNeueBold.woff') format('woff'),
		url('fonts/helvetica/HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansRegular';
    src: url('fonts/DroidSans/DroidSans-webfont.eot');
    src: url('fonts/DroidSans/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('fonts/DroidSans/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSans/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
font-family: Ubuntu;
/*verkar som IE funkar b�ttre utan detta*/
/*src: 	url('type/Ubuntu.eot'),
		url('fonts/Ubuntu.ttf') format('truetype'); */
	  src: url( fonts/Ubuntu.eot ); /* IE */  
	  src: local("Ubuntu"), url(fonts/Ubuntu.ttf ) format("truetype"); /* non-IE */  
}


@font-face {
	font-family: 'MothProof';
	src: url('fonts/Mothproof_Script-webfont.eot');
	src: local('?'), url('fonts/Mothproof_Script-webfont.woff') format('woff'), url('fonts/Mothproof_Script-webfont.ttf') format('truetype'), url('fonts/Mothproof_Script-webfont.svg#webfontwlz4C23y') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'blackRose';
	src: url('fonts/blackr-webfont.eot');
	src: local('☺'), url('fonts/blackr-webfont.woff') format('woff'), url('fonts/blackr-webfont.ttf') format('truetype'), url('fonts/blackr-webfont.svg#webfontdjgWRTfr') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Komika';
	src: url('fonts/KOMIKAX_-webfont.eot');
	src: local('?'), url('fonts/KOMIKAX_-webfont.woff') format('woff'), url('fonts/KOMIKAX_-webfont.ttf') format('truetype'), url('fonts/KOMIKAX_-webfont.svg#webfontawcBbHlT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: ChunkFive;
    src: url('fonts/Chunkfive-webfont.eot');
    src: url('fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Chunkfive-webfont.woff') format('woff'),
         url('fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}





/* CAVIAR DREAMS *************************************************************************/
@font-face {
    font-family: 'CaviarDreamsItalic';
    src: url('fonts/CaviarDreams/CaviarDreamsItalic-webfont.eot');
    src: url('fonts/CaviarDreams/CaviarDreamsItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams/CaviarDreamsItalic-webfont.woff') format('woff'),
         url('fonts/CaviarDreams/CaviarDreamsItalic-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreams/CaviarDreamsItalic-webfont.svg#CaviarDreamsItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsBoldItalic';
    src: url('fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot');
    src: url('fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.woff') format('woff'),
         url('fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreams/CaviarDreams_BoldItalic-webfont.svg#CaviarDreamsBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreams';
    src: url('fonts/CaviarDreams/CaviarDreams-webfont.eot');
    src: url('fonts/CaviarDreams/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams/CaviarDreams-webfont.woff') format('woff'),
         url('fonts/CaviarDreams/CaviarDreams-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreams/CaviarDreams-webfont.svg#CaviarDreamsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsBold';
    src: url('fonts/CaviarDreams/CaviarDreams_Bold-webfont.eot');
    src: url('fonts/CaviarDreams/CaviarDreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams/CaviarDreams_Bold-webfont.woff') format('woff'),
         url('fonts/CaviarDreams/CaviarDreams_Bold-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreams/CaviarDreams_Bold-webfont.svg#CaviarDreamsBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* BIG TWEET FONT FACES
***************************************************************/

@font-face {
    font-family: 'QlassikMediumRegular';
    src: url('fonts/qlassik/Qlassik_TB-webfont.eot?') format('eot'),
         url('fonts/qlassik/Qlassik_TB-webfont.woff') format('woff'),
         url('fonts/qlassik/Qlassik_TB-webfont.ttf') format('truetype'),
         url('fonts/qlassik/Qlassik_TB-webfont.svg#webfontdLeQUlTY') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QlassikBoldRegular';
    src: url('fonts/qlassik/QlassikBold_TB-webfont.eot?') format('eot'),
         url('fonts/qlassik/QlassikBold_TB-webfont.woff') format('woff'),
         url('fonts/qlassik/QlassikBold_TB-webfont.ttf') format('truetype'),
         url('fonts/qlassik/QlassikBold_TB-webfont.svg#webfontDLSNh18m') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyUnderwoodRegular';
    src: url('fonts/myunderwood/MyUnderwood-webfont.eot');
    src: url('fonts/myunderwood/MyUnderwood-webfont.eot?iefix') format('eot'),
         url('fonts/myunderwood/MyUnderwood-webfont.woff') format('woff'),
         url('fonts/myunderwood/MyUnderwood-webfont.ttf') format('truetype'),
         url('fonts/myunderwood/MyUnderwood-webfont.svg#webfont72lyKL7L') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AnotherRegular';
    src: url('fonts/another/another-webfont.eot');
    src: url('fonts/another/another-webfont.eot?iefix') format('eot'),
         url('fonts/another/another-webfont.woff') format('woff'),
         url('fonts/another/another-webfont.ttf') format('truetype'),
         url('fonts/another/another-webfont.svg#webfonttHA7pNTl') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/leaguegothic/League_Gothic-webfont.eot');
    src: url('fonts/leaguegothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic/League_Gothic-webfont.woff') format('woff'),
         url('fonts/leaguegothic/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NK Mono';
    src: url('fonts/NK_Mono.eot');
    src: url('fonts/NK_Mono.eot?#iefix') format('embedded-opentype'),
         url('fonts/NK_Mono.woff') format('woff'),
         url('fonts/NK_Mono.ttf') format('truetype'),
         url('fonts/NK_Mono.svg#NK_Mono') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 17, 2012 12:40:34 PM America/New_York */



@font-face {
    font-family: 'Forque';
    src: url('fonts/forque/Forque-webfont.eot');
    src: url('fonts/forque/Forque-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/forque/Forque-webfont.woff') format('woff'),
         url('fonts/forque/Forque-webfont.ttf') format('truetype'),
         url('fonts/forque/Forque-webfont.svg#firsttestRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ComfortaaThin';
    src: url('fonts/comforta/Comfortaa_Thin-webfont.eot');
    src: url('fonts/comforta/Comfortaa_Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/comforta/Comfortaa_Thin-webfont.woff') format('woff'),
         url('fonts/comforta/Comfortaa_Thin-webfont.ttf') format('truetype'),
         url('fonts/comforta/Comfortaa_Thin-webfont.svg#ComfortaaThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ComfortaaRegular';
    src: url('fonts/comforta/Comfortaa_Regular-webfont.eot');
    src: url('fonts/comforta/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/comforta/Comfortaa_Regular-webfont.woff') format('woff'),
         url('fonts/comforta/Comfortaa_Regular-webfont.ttf') format('truetype'),
         url('fonts/comforta/Comfortaa_Regular-webfont.svg#ComfortaaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ComfortaaBold';
    src: url('fonts/comforta/Comfortaa_Bold-webfont.eot');
    src: url('fonts/comforta/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/comforta/Comfortaa_Bold-webfont.woff') format('woff'),
         url('fonts/comforta/Comfortaa_Bold-webfont.ttf') format('truetype'),
         url('fonts/comforta/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 17, 2012 01:15:58 PM America/New_York */



@font-face {
    font-family: 'Pacifico';
    src: url('fonts/pacifico/Pacifico-webfont.eot');
    src: url('fonts/pacifico/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pacifico/Pacifico-webfont.woff') format('woff'),
         url('fonts/pacifico/Pacifico-webfont.ttf') format('truetype'),
         url('fonts/pacifico/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Dekar';
    src: url('fonts/DekarLight/Dekar.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DekarLight';
    src: url('fonts/DekarLight/DekarLight.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MotorOil';
    src: url('fonts/Motor Oil 1937 M54.ttf');
    font-weight: normal;
    font-style: normal;

}





