@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    padding-top: 0;
    margin-top: 0;
    background-color: #f0f1f1;
}

h2 {
    font-size: 2em;
}

main {
    padding: 20px;
}

body,
a {
    font-family: 'Arial';
}

h1, h2, h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
}

.grid-50-50 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.row {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.main-header {
    /*font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	letter-spacing: 10px;*/
    font-size: 70px;
    padding-top: 0;
    margin-top: 0;
    color: #555;
}

.scoreCards {
    display: flex;
    gap: 10px;
    font-family: 'Arvo';
    text-align: left;
}

.movie-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media screen and (min-width: 992px) {
    .movie-grid--netflix {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


.popularMovie {
    transition: all 0.5s ease;
}

.popularMovie a:hover {
    color: rgb(59, 97, 211);
}

.popularMovie .media-left {
    margin-right: 6px;
}

.popularMovie .title-link:hover {
    cursor: pointer;
}

.popularMovie .media {
    display: flex;
    align-items: center;
}

.popularMovie number {
    margin-top:0;
    padding-top:0;
    font-size: 30px;
    font-family: 'Arvo', Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.popularMovie .media-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie {
  img {
    min-height: 100px;
    min-width: 100px;
    max-height: 300px;
    max-width: 100%;
    box-shadow: -4px -4px 1px black;
    border: 4px solid black;
    background: lightblue;
  }
  .grid-50-50 {
    column-gap: 20px;
  }
}

@media (min-width: 1200px) {
    .popularMovie .media-heading {
        font-size: 16px;
        font-weight: bold;
    }
    .currentMovie {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .popularMovie h3,
    .popularMovie .media-heading {
        font-size: 12px;
    }
    .main-header {
        font-size: 50px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.legend { 
    font-size: 14px;
    font-weight: bold;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.review-card {
    font-size: 14px;
    font-family: Georgia, serif;
    background: #f4f2e5;
    box-shadow: 2px 2px 5px #a7a88d;
    padding: 10px;
    margin: 10px;

    .score {
      font-family: 'Arvo';
    }
}


footer {
    text-align: center;
    padding: 25px;
    margin-top: 60px;
    background-color: #222;
    color: #eee;
}

.highcharts-background {
    fill: rgba(255,255,255,0.2);
}

.highcharts-credits {
    display: none;
}

.review-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 200px auto;
}