body {
    padding-top: 0;
    margin-top: 0;
    background-color: #f0f1f1;
}

main {
    padding: 20px;
}

body,
a {
    font-family: 'Arial';
}

h1, h2, h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
}

.main-header {
    /*font-family: 'LeagueGothicRegular';
	text-transform: uppercase;
	letter-spacing: 10px;*/
    font-size: 70px;
    padding-top: 0;
    margin-top: 0;
    color: #555;
}

.scoreCard {
    display: inline-block;
    float: left;
    height: 28px;
    padding: 4px;
    margin: 5px;
    text-align: center;
}

.scoreCard h1,
.scoreCard h2,
.scoreCard .h3 {
    display: block;
}

.movie-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 200px; /* reserve space even before content is loaded */
}

@media screen and (min-width: 992px) {
    .movie-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }    
}

.popularMovie {
    transition: all 0.5s ease;
}

.popularMovie .title-link:hover {
    cursor: pointer;
}

.popularMovie .media {
    display: flex;
}

.popularMovie .media-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.currentMovie img {
    max-height: 300px;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .popularMovie .media-heading {
        font-size: 16px;
        font-weight: bold;
    }
    .currentMovie {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .popularMovie h3,
    .popularMovie .media-heading {
        font-size: 12px;
    }
    .main-header {
        font-size: 50px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.legend { 
    font-size: 11px;
    font-weight: bold;
}
.label { /*reset bootstrap*/ color: #555; }

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.review {
    font-family: sans-serif;
    font-size: 12px;
    font-family: serif;
    border: solid 1px #ddd;
    padding: 10px;
}
.review .score {
    font-family: Arial; font-weight: bold; 
}

.review--small {
    padding: 5px; margin: 10px;
    float:left; max-width: 200px; border: solid 1px #ccc;  font-size: 11px;
}

footer {
    text-align: center;
    padding: 25px;
    margin-top: 60px;
    background-color: #222;
    color: #eee;
}